@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./Images/Gunmetal.jpeg");
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .skill-dark {
    @apply rounded-2xl bg-slate-500 w-[90%];
  }
  .skill-light {
    @apply rounded-2xl bg-slate-300 w-[90%];
  }
}
